html{height: 100%;}
body.signin {
	margin-top: 60px;
    height: auto;
    background:rgb(250,250,250);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255,255,255,.95);
}

.signinpanel,.signuppanel {
    margin: auto;
    min-width: 330px;
    max-width: 420px;
    width: 98%;
}
.row{width: 100%;margin: auto;}
.signup-footer {
	color: black;
    margin-bottom: 10px;
}
.signuppanel .form-control {
    margin-bottom: 10px;
}
.signup-footer .pull-left,.signup-footer .pull-right {
    float: none !important;
    text-align: center;
}

.signinpanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signinpanel .form-control {
    display: block;
    margin-top: 20px;
}

.signinpanel .uname {
    background: #fff url(../images/user.png) no-repeat 95% center;color:#333;
}

.signinpanel .pword {
    background: #fff url(../images/locked.png) no-repeat 95% center;color:#333;
}

.signinpanel .btn {
    margin-top: 15px;
}

.signinpanel form {
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

.signup-footer{border-top: solid 1px rgba(255,255,255,.3);margin:20px 0;padding-top: 15px;}
#form_con{
	width: 100%;
	background-color: rgb(65,105,225);
	padding: 0;
	border-radius: 5px;
	}
#login_btn{
	color: rgb(38,50,56);
    background-color: rgb(236,239,241);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    height: 45px;
}
#login_form .form-group{
	width: 100%;
	margin:20px auto;
}
#login_form .control-label{
	text-align: left
}
@media screen and (max-width: 320px) {
    .signinpanel,
    .signuppanel {
        margin:0 20px;
        width:auto;
    }
}
