<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:c3p0.properties</value>
            </list>
        </property>
    </bean>
    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${hibernate.connection.driver_class}"/>
        <property name="jdbcUrl" value="${hibernate.connection.url}"/>
        <property name="user" value="${hibernate.connection.username}"/>
        <property name="password" value="${hibernate.connection.password}"/>
        <!--连接池中保留的最小连接数-->
        <property name="minPoolSize" value="${hibernate.c3p0.min_size}"/>
        <!--连接池中保留的最大连接数。Default: 15 -->
        <property name="maxPoolSize" value="${hibernate.c3p0.max_size}"/>
        <!--初始化时获取的连接数，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
        <property name="initialPoolSize" value="${hibernate.c3p0.initialPoolSize}"/>
        <!--最大空闲时间,120秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
        <property name="maxIdleTime" value="${hibernate.c3p0.maxIdleTime}"/>
        <!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
        <property name="acquireIncrement" value="${hibernate.c3p0.acquireIncrement}"/>
        <!--JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。但由于预缓存的statements
         属于单个connection而不是整个连接池。所以设置这个参数需要考虑到多方面的因素。
         如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0-->
        <property name="maxStatements" value="${hibernate.c3p0.max_statements}"/>
        <!--每60秒检查所有连接池中的空闲连接。Default: 0 -->
        <property name="idleConnectionTestPeriod" value="${hibernate.c3p0.idle_test_period}"/>
        <!--定义在从数据库获取新连接失败后重复尝试的次数。Default: 30 -->
        <property name="acquireRetryAttempts" value="${hibernate.c3p0.acquire_increment}"/>
        <!--获取连接失败将会引起所有等待连接池来获取连接的线程抛出异常。但是数据源仍有效
         保留，并在下次调用getConnection()的时候继续尝试获取连接。如果设为true，那么在尝试
         获取连接失败后该数据源将申明已断开并永久关闭。Default: false-->
        <property name="breakAfterAcquireFailure" value="${hibernate.c3p0.breakAfterAcquireFailure}"/>
        <!--因性能消耗大请只在需要的时候使用它。如果设为true那么在每个connection提交的
         时候都将校验其有效性。建议使用idleConnectionTestPeriod或automaticTestTable
         等方法来提升连接测试的性能。Default: false -->
        <property name="testConnectionOnCheckout" value="${hibernate.c3p0.testConnectionOnCheckout}"/>
    </bean>


    <bean id="hibernateInterceptor"
          class="cn.qdcares.rpc.common.interceptor.HibernateInterceptor"></bean>

    <!-- 创建sessinFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>cn.qdcares.rpc</value>
            </list>
        </property>
        <property name="entityInterceptor" ref="hibernateInterceptor"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!--<bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.use_sql_comments">${hibernate.use_sql_comments}</prop>
                <prop key="hibernate.current_session_context_class">${hibernate.current_session_context_class}</prop>
                <prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
                <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
                <prop key="hibernate.max_fetch_depth">${hibernate.max_fetch_depth}</prop>
                <prop key="hibernate.batch_fetch_style">${hibernate.batch_fetch_style}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
                <prop key="hibernate.cache.use_structured_entries">${hibernate.cache.use_structured_entries}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
                <prop key="hibernate.order_inserts">${hibernate.order_inserts}</prop>
                <prop key="hibernate.order_updates">${hibernate.order_updates}</prop>
                <prop key="hibernate.transaction.factory_class">${hibernate.transaction.factory_class}</prop>
                <prop key="hibernate.transaction.jta.platform">${hibernate.transaction.jta.platform}</prop>
            </props>
        </property>
        <property name="entityInterceptor" ref="hibernateInterceptor"></property>
        &lt;!&ndash; 自动扫描注解方式配置的hibernate类文件 &ndash;&gt;
        <property name="packagesToScan">
            <list>
                <value>cn.qdcares.rpc</value>
            </list>
        </property>
    </bean>-->

    <!--声明事务管理-->
    <!--配置事务管理-->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 配置事务通知 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="find*" propagation="REQUIRED" read-only="true"
                       timeout="30" isolation="READ_COMMITTED"/>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"
                       timeout="30" isolation="READ_COMMITTED"/>
            <tx:method name="load*" propagation="REQUIRED" read-only="true"
                       timeout="30" isolation="READ_COMMITTED"/>
            <tx:method name="add*" propagation="REQUIRED" timeout="30"
                       isolation="READ_COMMITTED" rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" timeout="30"
                       isolation="READ_COMMITTED" rollback-for="Exception"/>
            <tx:method name="delete*" propagation="REQUIRED" timeout="30"
                       isolation="READ_COMMITTED" rollback-for="Exception"/>
            <tx:method name="list*" propagation="REQUIRED" read-only="true"
                       timeout="30" isolation="READ_COMMITTED"/>
            <tx:method name="*" propagation="REQUIRED" timeout="30"
                       isolation="READ_COMMITTED" rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>

    <!-- 配置切面 -->
    <aop:config proxy-target-class="true">
        <!-- 设置切点 cn.qdcares.rpc.service.dao.impl下所有类的方法 -->
        <aop:pointcut id="transactionExecute" expression="execution(* cn.qdcares.rpc.service.dao.impl.*.*(..)) or execution(* cn.qdcares.rpc.service.biz.*.*(..))"/>
        <!--定义通知器-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="transactionExecute" order="1"/>
        <!--定义切面-->
        <aop:aspect ref="serviceInvokeAop" order="2">
            <aop:before method="doBeforeInvoke" pointcut-ref="transactionExecute"/>
            <aop:after-returning method="doAfterReturn" pointcut-ref="transactionExecute"/>
            <aop:after-throwing method="doAfterThrow" pointcut-ref="transactionExecute" throwing="ex"/>
        </aop:aspect>
    </aop:config>
</beans>