<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!--配置密码验证-->
	<bean id="hashMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="md5"/>
	</bean>

	<bean id="urlPermissionResolver" class="cn.qdcares.rpc.auth.permission.UrlPermissionResovler"/>

	<bean id="systemSessionFilter" class="cn.qdcares.rpc.auth.filter.SystemSessionFilter"/>

	<!--会话管理器-->
	<bean id="sessionManager" class="org.apache.shiro.session.mgt.DefaultSessionManager">
		<property name="globalSessionTimeout" value="1800000"/>
		<property name="sessionListeners" ref="systemSessionFilter"/>
	</bean>

	<!--注入securityManager-->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="authRealm"/>
		<property name="authorizer.permissionResolver" ref="urlPermissionResolver"/>
		<property name="sessionManager" ref="sessionManager"/>
	</bean>

	<!--配置shiro数据源-->
	<bean id="authRealm" class="cn.qdcares.rpc.auth.AuthRealm">
		<property name="credentialsMatcher" ref="hashMatcher"/>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


	<bean id="resourcesCheckFilter" class="cn.qdcares.rpc.auth.filter.ResourcesCheckFilter">
		<property name="errorUrl" value="unauth.jsp"/>
	</bean>


	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/login"/>
		<property name="filterChainDefinitions">
			<value>
				/front/** = authc, resourcesCheckFilter
				/back/** = authc, resourcesCheckFilter
				/login = anon
			</value>
		</property>
	</bean>
</beans>